<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Management System</title>
</head>
<body>
  <app-employee-navbar></app-employee-navbar>

  <div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center mb-5 bg-primary text-light border rounded">
      <h3 class="fw-bold mt-3 mb-4">Employee Management System</h3>
    </div>
    <router-outlet></router-outlet>
    <app-employee-footer></app-employee-footer>
  </div>
</body>
</html>